# 历年利润分析。

In [8]:
import tushare as ts
import pandas as pd

In [9]:
def getProfit(year,season):
    #if ()
    profit = ts.get_profit_data(year,season)
    profit.to_csv("../../finabook/finadata/profit%d%02d.csv"%(year,season))
    return profit

def getProfitAll():
    for y in range(2010,2019):
        for s in range(1,5):
            print("获取利润数据: %d年，第%2d季度"%(y,s),)
            getProfit(y,s)
            print(" OK.")
    print("Finished.")

#### 获取所有利润数据，保存到文件。

In [10]:
#getProfitAll()

## 抽取透视表，形成历年数据。

In [10]:
# 从文件载入利润数据表。指定代码、年度、季度。
def loadProfitData(code,year,season):
    profit = pd.read_csv("../../finabook/finadata/profit%d%02d.csv"%(year,season))
    dfprofit = profit[profit["code"]==code]
    return dfprofit

# 从文件载入负债数据表。指定代码、年度、季度。
def loadDebtData(code,year,season):
    debt = pd.read_csv("../../finabook/finadata/debt%d%02d.csv"%(year,season))
    dfdebt = debt[debt["code"]==code]
    return dfdebt

#### 组合时间序列。

In [20]:
dfp = loadProfitData(300036,2017,4)

In [12]:
dfp

,Unnamed: 0,code,name,roe,net_profit_ratio,gross_profit_rate,net_profits,eps,business_income,bips
1045,1045,300036,超图软件,10.86,15.7,59.1962,196.266,0.4365,1249.7585,2.7798

In [ ]:
http://tushare.org/
roe,净资产收益率(%)
net_profit_ratio,净利率(%)
gross_profit_rate,毛利率(%)
net_profits,净利润(万元)
esp,每股收益x
business_income,营业收入(百万元)
bips,每股主营业务收入(元)

In [ ]:
getProfitAll()

获取利润数据: 2010年，第 1季度
[Getting data:]################################# OK.
获取利润数据: 2010年，第 2季度
[Getting data:]#################################### OK.
获取利润数据: 2010年，第 3季度
[Getting data:]#

In [13]:
debt = loadDebtData(300036,2017,4)

In [14]:
debt

,Unnamed: 0,code,name,currentratio,quickratio,cashratio,icratio,sheqratio,adratio
1241,1241,300036,超图软件,2.2802,2.2638,87.1163,6936.91,69.0327,30.9673

In [ ]:
currentratio,流动比率:流动资产/流动负债；（现金+应收账款+存货+其他各种）/流动负债
quickratio,速动比率:(流动资产－存货)/流动负债;（现金+证券+应收账款）/流动负债
cashratio,现金比率（现金+证券）/流动负债
icratio,利息支付倍数（息税前利润/利息费用）
    “息税前利润”是指利润损益表中未扣除利息费用和所得税前的利润，可以用“利润总额加利息费用”进行预测。
    “利息费用”是指本期发生的全部应付利息，不仅包括财务费用中的利息费用，还应包括计入固定资产成本的 资本化利息。
sheqratio,股东权益比率。股东权益/资产总额
adratio,股东权益增长率

In [17]:
profit = pd.read_csv("../../finabook/finadata/profit%d%02d.csv"%(2017,4),nrows=10)

In [18]:
profit

,Unnamed: 0,code,name,roe,net_profit_ratio,gross_profit_rate,net_profits,eps,business_income,bips
0,0,600877,ST嘉陵,3050.19,51.31,5.3974,301.5512,0.4387,587.6242,0.8549
1,1,600423,*ST柳化,159.31,3.36,5.4217,61.5515,0.1541,1830.0737,4.5826
2,2,953,ST河化,126.44,13.33,-1.9392,29.4624,0.1001,220.8816,0.7511
3,3,600608,ST沪科,105.97,13.25,0.3205,62.3212,0.1895,470.0863,1.4294
4,4,600678,四川金顶,103.05,15.64,27.1372,28.9408,0.0829,184.9645,0.5299
5,5,717,韶钢松山,84.65,9.66,13.2641,2516.5474,1.0401,26038.2683,10.7617
6,6,600319,亚星化学,81.58,1.36,11.2734,26.6146,0.0843,1949.7807,6.1781
7,7,600338,西藏珠峰,65.35,45.15,72.5532,1113.6447,1.7054,2466.5269,3.7771
8,8,600793,宜宾纸业,63.46,7.98,8.9831,92.4647,0.8781,1157.9648,10.9968
9,9,16,深康佳A,63.25,16.19,11.0119,5057.0252,2.1001,31227.7632,12.9686

In [19]:
profit = pd.read_csv("../../finabook/finadata/profit%d%02d.csv"%(2017,4),chunksize=20)

In [20]:
profit